@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


body {
    color: #333;
    font-family: 'Oswald', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
.painel{
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    box-shadow: inset 1px 1px 4px #999
}
.painel li{
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px
}
.painel h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 3px 3px 2px rgba(255,255,255, 0.8)
}
.painel a{
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none
}

.painel li:hover{
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 5px #333;
    transition: 0.7s;
    transform: scale(1.2) rotate(-5deg)
}

.painel li:nth-child(n+15){
    display: none
}

.painel-aberto li:nth-child(n+15){
    display: inline-block
}

