/* 
    Created on : 20 de mai. de 2022, 15:43:16
    Author     : jsda2
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


#logo {
    width: 180px
}

body {
    color: #333;
    font-family: 'Oswald', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

h1 {
    background-color: rgba(189, 183, 107, 0.493);
    margin: 30px;
    padding: 10px;
}

p {
    padding: 0 45px;
    text-indent: 15px
}



h2 {
    border-bottom: 2px solid #333333;
    margin-top: 30px
}

img {
    background-color: blanchedalmond;
}

figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 35px;
}

figcaption {
    font-style: italic;
    margin-top: 10px
}

p::first-letter {
    font-weight: bold
}

h1+p {
    text-indent: 0
}

p::first-line {
    font-variant: small-caps
}

#matriz-dingle {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.figure matriz-dingle{
    width: auto;
    height: auto;
}